In [20]:
import pandas as pd
import numpy as np
df=pd.read_csv('/home/ubuntu/archive(1)/horror_movies.csv')
df

,Unnamed: 0,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,...,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,1,760161,Orphan: First Kill,Orphan: First Kill,en,After escaping from an Estonian psychiatric fa...,There's always been something wrong with Esther.,2022-07-27,/pHkKbIRoCe7zIFvqan9LFSaQAde.jpg,5088.584,...,6.9,0.0,9572765.0,99,Released,False,/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg,"Horror, Thriller",760193.0,Orphan Collection
1,2,760741,Beast,Beast,en,A recently widowed man and his two teenage dau...,Fight for family.,2022-08-11,/xIGr7UHsKf0URWmyyd5qFMAq4d8.jpg,2172.338,...,7.1,0.0,56000000.0,93,Released,False,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,"Adventure, Drama, Horror",NaN,NaN
2,3,882598,Smile,Smile,en,"After witnessing a bizarre, traumatic incident...","Once you see it, it’s too late.",2022-09-23,/hiaeZKzwsk4y4atFhmncO5KRxeT.jpg,1863.628,...,6.8,17000000.0,45000000.0,115,Released,False,/mVNPfpydornVe4H4UCIk7WevWjf.jpg,"Horror, Mystery, Thriller",NaN,NaN
3,4,756999,The Black Phone,The Black Phone,en,"Finney Blake, a shy but clever 13-year-old boy...",Never talk to strangers.,2022-06-22,/lr11mCT85T1JanlgjMuhs9nMht4.jpg,1071.398,...,7.9,18800000.0,161000000.0,103,Released,False,/AfvIjhDu9p64jKcmohS4hsPG95Q.jpg,"Horror, Thriller",NaN,NaN
4,5,772450,Presencias,Presences,es,A man who loses his wife and goes to seclude h...,NaN,2022-09-07,/dgDT3uol3mdvwEg0jt1ble3l9hw.jpg,1020.995,...,7.0,0.0,0.0,0,Released,False,/ojfzhdwRemcDt1I6pao6vVLw9AA.jpg,Horror,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32535,32536,1032201,Catch a Butcher,Catch a Butcher,en,In a maternity ward in nineteenth-century Indi...,NaN,2021-11-20,/4LHrYpe6bjiT8Wvkzl3269LIUZl.jpg,0.600,...,0.0,0.0,0.0,11,Released,False,NaN,Horror,NaN,NaN
32536,32537,1032667,Shaye Saint John: The Triggers Compilation,Shaye Saint John: The Triggers Compilation,en,A bizarre mix of early Tod Hayne's and Phyllis...,"""Just keep in mind, that you'll be trying to s...",2006-10-30,/j1vWwxnTsoKjZFwJODiNHNS8GFK.jpg,0.600,...,0.0,0.0,0.0,92,Released,False,NaN,"Fantasy, Horror",NaN,NaN
32537,32538,1032890,Welcome to the Occult Forest,Welcome to the Occult Forest,en,A washed up horror film director named Kôji Ku...,"Murders, crimes, laughter, psychics, superhero...",2022-07-22,/ngFyxdliPZrG3Qra7tW3LbWksFd.jpg,0.600,...,0.0,0.0,0.0,141,Released,False,/s8Kpai084gCgQlsT3bpaEYuJmDc.jpg,"Comedy, Drama, Horror",NaN,NaN
32538,32539,1033052,The Mean One,The Mean One,en,"The Mean One is a hairy, green-skinned grump i...",NaN,2022-12-15,NaN,0.000,...,0.0,0.0,0.0,0,Post Production,False,NaN,Horror,NaN,NaN
32539,32540,1033095,Secret Formula,Secret Formula,en,NaN,NaN,2020-12-06,/5GTTNqHwXfqqnBPrZAv0DVoWfjr.jpg,0.000,...,0.0,0.0,0.0,0,Released,False,NaN,"Animation, Horror",NaN,NaN

In [21]:

df.describe()

,Unnamed: 0,id,popularity,vote_count,vote_average,budget,revenue,runtime,collection
count,32540.000000,3.254000e+04,32540.000000,32540.000000,32540.000000,3.254000e+04,3.254000e+04,32540.000000,2.306000e+03
mean,16270.500000,4.459108e+05,4.013456,62.691487,3.335728,5.431266e+05,1.349747e+06,62.142901,4.815349e+05
std,9393.633216,3.057447e+05,37.513472,420.887474,2.876002,4.542668e+06,1.443048e+07,40.998527,3.244982e+05
min,1.000000,1.700000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,6.560000e+02
25%,8135.750000,1.464948e+05,0.600000,0.000000,0.000000,0.000000e+00,0.000000e+00,14.000000,1.554210e+05
50%,16270.500000,4.265210e+05,0.840000,2.000000,4.000000,0.000000e+00,0.000000e+00,80.000000,4.712590e+05
75%,24405.250000,7.075340e+05,2.243250,11.000000,5.700000,0.000000e+00,0.000000e+00,91.000000,7.590672e+05
max,32540.000000,1.033095e+06,5088.584000,16900.000000,10.000000,2.000000e+08,7.018426e+08,683.000000,1.033032e+06

In [22]:
df.head()

,Unnamed: 0,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,...,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,1,760161,Orphan: First Kill,Orphan: First Kill,en,After escaping from an Estonian psychiatric fa...,There's always been something wrong with Esther.,2022-07-27,/pHkKbIRoCe7zIFvqan9LFSaQAde.jpg,5088.584,...,6.9,0.0,9572765.0,99,Released,False,/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg,"Horror, Thriller",760193.0,Orphan Collection
1,2,760741,Beast,Beast,en,A recently widowed man and his two teenage dau...,Fight for family.,2022-08-11,/xIGr7UHsKf0URWmyyd5qFMAq4d8.jpg,2172.338,...,7.1,0.0,56000000.0,93,Released,False,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,"Adventure, Drama, Horror",NaN,NaN
2,3,882598,Smile,Smile,en,"After witnessing a bizarre, traumatic incident...","Once you see it, it’s too late.",2022-09-23,/hiaeZKzwsk4y4atFhmncO5KRxeT.jpg,1863.628,...,6.8,17000000.0,45000000.0,115,Released,False,/mVNPfpydornVe4H4UCIk7WevWjf.jpg,"Horror, Mystery, Thriller",NaN,NaN
3,4,756999,The Black Phone,The Black Phone,en,"Finney Blake, a shy but clever 13-year-old boy...",Never talk to strangers.,2022-06-22,/lr11mCT85T1JanlgjMuhs9nMht4.jpg,1071.398,...,7.9,18800000.0,161000000.0,103,Released,False,/AfvIjhDu9p64jKcmohS4hsPG95Q.jpg,"Horror, Thriller",NaN,NaN
4,5,772450,Presencias,Presences,es,A man who loses his wife and goes to seclude h...,NaN,2022-09-07,/dgDT3uol3mdvwEg0jt1ble3l9hw.jpg,1020.995,...,7.0,0.0,0.0,0,Released,False,/ojfzhdwRemcDt1I6pao6vVLw9AA.jpg,Horror,NaN,NaN

In [23]:
df.tail()

,Unnamed: 0,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,...,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
32535,32536,1032201,Catch a Butcher,Catch a Butcher,en,In a maternity ward in nineteenth-century Indi...,NaN,2021-11-20,/4LHrYpe6bjiT8Wvkzl3269LIUZl.jpg,0.6,...,0.0,0.0,0.0,11,Released,False,NaN,Horror,NaN,NaN
32536,32537,1032667,Shaye Saint John: The Triggers Compilation,Shaye Saint John: The Triggers Compilation,en,A bizarre mix of early Tod Hayne's and Phyllis...,"""Just keep in mind, that you'll be trying to s...",2006-10-30,/j1vWwxnTsoKjZFwJODiNHNS8GFK.jpg,0.6,...,0.0,0.0,0.0,92,Released,False,NaN,"Fantasy, Horror",NaN,NaN
32537,32538,1032890,Welcome to the Occult Forest,Welcome to the Occult Forest,en,A washed up horror film director named Kôji Ku...,"Murders, crimes, laughter, psychics, superhero...",2022-07-22,/ngFyxdliPZrG3Qra7tW3LbWksFd.jpg,0.6,...,0.0,0.0,0.0,141,Released,False,/s8Kpai084gCgQlsT3bpaEYuJmDc.jpg,"Comedy, Drama, Horror",NaN,NaN
32538,32539,1033052,The Mean One,The Mean One,en,"The Mean One is a hairy, green-skinned grump i...",NaN,2022-12-15,NaN,0.0,...,0.0,0.0,0.0,0,Post Production,False,NaN,Horror,NaN,NaN
32539,32540,1033095,Secret Formula,Secret Formula,en,NaN,NaN,2020-12-06,/5GTTNqHwXfqqnBPrZAv0DVoWfjr.jpg,0.0,...,0.0,0.0,0.0,0,Released,False,NaN,"Animation, Horror",NaN,NaN

In [24]:
df.head(10)

,Unnamed: 0,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,...,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,1,760161,Orphan: First Kill,Orphan: First Kill,en,After escaping from an Estonian psychiatric fa...,There's always been something wrong with Esther.,2022-07-27,/pHkKbIRoCe7zIFvqan9LFSaQAde.jpg,5088.584,...,6.9,0.0,9572765.0,99,Released,False,/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg,"Horror, Thriller",760193.0,Orphan Collection
1,2,760741,Beast,Beast,en,A recently widowed man and his two teenage dau...,Fight for family.,2022-08-11,/xIGr7UHsKf0URWmyyd5qFMAq4d8.jpg,2172.338,...,7.1,0.0,56000000.0,93,Released,False,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,"Adventure, Drama, Horror",NaN,NaN
2,3,882598,Smile,Smile,en,"After witnessing a bizarre, traumatic incident...","Once you see it, it’s too late.",2022-09-23,/hiaeZKzwsk4y4atFhmncO5KRxeT.jpg,1863.628,...,6.8,17000000.0,45000000.0,115,Released,False,/mVNPfpydornVe4H4UCIk7WevWjf.jpg,"Horror, Mystery, Thriller",NaN,NaN
3,4,756999,The Black Phone,The Black Phone,en,"Finney Blake, a shy but clever 13-year-old boy...",Never talk to strangers.,2022-06-22,/lr11mCT85T1JanlgjMuhs9nMht4.jpg,1071.398,...,7.9,18800000.0,161000000.0,103,Released,False,/AfvIjhDu9p64jKcmohS4hsPG95Q.jpg,"Horror, Thriller",NaN,NaN
4,5,772450,Presencias,Presences,es,A man who loses his wife and goes to seclude h...,NaN,2022-09-07,/dgDT3uol3mdvwEg0jt1ble3l9hw.jpg,1020.995,...,7.0,0.0,0.0,0,Released,False,/ojfzhdwRemcDt1I6pao6vVLw9AA.jpg,Horror,NaN,NaN
5,6,1014226,Sonríe,Sonríe,es,NaN,NaN,2022-08-18,/wHowKf77gNZbVo9yu5ggiNBFCdJ.jpg,939.712,...,1.0,0.0,0.0,0,Released,False,NaN,"Horror, Thriller",NaN,NaN
6,7,717728,Jeepers Creepers: Reborn,Jeepers Creepers: Reborn,en,Forced to travel with her boyfriend to a horro...,Evil Rides Again,2022-09-15,/aGBuiirBIQ7o64FmJxO53eYDuro.jpg,821.605,...,5.8,20000000.0,2892594.0,88,Released,False,/tIX6j3NzadlwGcJ52nuWdmtOQkg.jpg,"Horror, Mystery, Thriller",94899.0,Jeepers Creepers Collection
7,8,762504,Nope,Nope,en,Residents in a lonely gulch of inland Californ...,What’s a bad miracle?,2022-07-20,/AcKVlWaNVVVFQwro3nLXqPljcYA.jpg,733.112,...,7.0,68000000.0,170800000.0,130,Released,False,/xVbppM1xgbskOKgOuV8fbWBWHtt.jpg,"Horror, Mystery, Science Fiction, Thriller",NaN,NaN
8,9,927341,Hunting Ava Bravo,Hunting Ava Bravo,en,Billionaire sportsman Buddy King unwinds by hu...,"""If I die, you die""",2022-04-01,/etc6HKBEhNySNnYU2nRgbSeIyoW.jpg,574.832,...,6.5,0.0,0.0,90,Released,False,/pkLegAR3G5T63B2Xz2ijbD1BAm8.jpg,"Action, Adventure, Crime, Drama, Horror, Myste...",NaN,NaN
9,10,760104,X,X,en,"In 1979, a group of young filmmakers set out t...",Dying to show you a good time.,2022-03-17,/woTQx9Q4b8aO13jR9dsj8C9JESy.jpg,543.670,...,6.8,10000000.0,14257609.0,106,Released,False,/21ldFAokKVjwzi1SHXoPb5gc7md.jpg,"Horror, Mystery, Thriller",950289.0,X Collection

In [25]:
df.isnull()

,Unnamed: 0,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,...,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32535,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,True
32536,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
32537,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
32538,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,False,True,False,True,True
32539,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,True,True

In [26]:
df.isnull().sum()

Unnamed: 0               0
id                       0
original_title           0
title                    0
original_language        0
overview              1286
tagline              19835
release_date             0
poster_path           4474
popularity               0
vote_count               0
vote_average             0
budget                   0
revenue                  0
runtime                  0
status                   0
adult                    0
backdrop_path        18995
genre_names              0
collection           30234
collection_name      30234
dtype: int64

In [27]:
df.isna()

,Unnamed: 0,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,...,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32535,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,True
32536,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
32537,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
32538,False,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,False,True,False,True,True
32539,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,True,True

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32540 entries, 0 to 32539
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         32540 non-null  int64
 1   id                 32540 non-null  int64
 2   original_title     32540 non-null  object
 3   title              32540 non-null  object
 4   original_language  32540 non-null  object
 5   overview           31254 non-null  object
 6   tagline            12705 non-null  object
 7   release_date       32540 non-null  object
 8   poster_path        28066 non-null  object
 9   popularity         32540 non-null  float64
 10  vote_count         32540 non-null  int64
 11  vote_average       32540 non-null  float64
 12  budget             32540 non-null  float64
 13  revenue            32540 non-null  float64
 14  runtime            32540 non-null  int64
 15  status             32540 non-null  object
 16  adult              32540 non-null  bool
 17  backdrop_path      13545 non-null  object
 18  genre_names        32540 non-null  object
 19  collection         2306 non-null   float64
 20  collection_name    2306 non-null   object
dtypes: bool(1), float64(5), int64(4), object(11)
memory usage: 5.0+ MB

In [31]:
df=df.dropna()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1117 entries, 0 to 32142
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1117 non-null   int64
 1   id                 1117 non-null   int64
 2   original_title     1117 non-null   object
 3   title              1117 non-null   object
 4   original_language  1117 non-null   object
 5   overview           1117 non-null   object
 6   tagline            1117 non-null   object
 7   release_date       1117 non-null   object
 8   poster_path        1117 non-null   object
 9   popularity         1117 non-null   float64
 10  vote_count         1117 non-null   int64
 11  vote_average       1117 non-null   float64
 12  budget             1117 non-null   float64
 13  revenue            1117 non-null   float64
 14  runtime            1117 non-null   int64
 15  status             1117 non-null   object
 16  adult              1117 non-null   bool
 17  backdrop_path      1117 non-null   object
 18  genre_names        1117 non-null   object
 19  collection         1117 non-null   float64
 20  collection_name    1117 non-null   object
dtypes: bool(1), float64(5), int64(4), object(11)
memory usage: 184.3+ KB

In [33]:
df.dtypes

Unnamed: 0             int64
id                     int64
original_title        object
title                 object
original_language     object
overview              object
tagline               object
release_date          object
poster_path           object
popularity           float64
vote_count             int64
vote_average         float64
budget               float64
revenue              float64
runtime                int64
status                object
adult                   bool
backdrop_path         object
genre_names           object
collection           float64
collection_name       object
dtype: object

In [34]:
df['id']=df['id'].astype('float64')

/tmp/ipykernel_6331/3904366423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id']=df['id'].astype('float64')

In [35]:
df.describe()

,Unnamed: 0,id,popularity,vote_count,vote_average,budget,revenue,runtime,collection
count,1117.000000,1.117000e+03,1117.000000,1117.000000,1117.000000,1.117000e+03,1.117000e+03,1117.000000,1.117000e+03
mean,3665.358102,1.605217e+05,27.902452,739.201432,5.440645,5.412791e+06,2.332494e+07,93.068039,3.637870e+05
std,4745.853849,2.266027e+05,158.830298,1544.462234,1.335890,1.364160e+07,6.109270e+07,16.916907,3.139231e+05
min,1.000000,8.300000e+01,0.600000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,6.560000e+02
25%,707.000000,1.491600e+04,4.355000,34.000000,4.800000,0.000000e+00,0.000000e+00,86.000000,1.047160e+05
50%,2117.000000,4.072900e+04,9.299000,132.000000,5.600000,0.000000e+00,0.000000e+00,91.000000,2.615900e+05
75%,4629.000000,2.368080e+05,24.287000,683.000000,6.300000,4.000000e+06,1.350000e+07,99.000000,6.071120e+05
max,32143.000000,1.005776e+06,5088.584000,16900.000000,9.000000,1.600000e+08,7.018426e+08,264.000000,1.033032e+06

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1117 entries, 0 to 32142
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1117 non-null   int64
 1   id                 1117 non-null   float64
 2   original_title     1117 non-null   object
 3   title              1117 non-null   object
 4   original_language  1117 non-null   object
 5   overview           1117 non-null   object
 6   tagline            1117 non-null   object
 7   release_date       1117 non-null   object
 8   poster_path        1117 non-null   object
 9   popularity         1117 non-null   float64
 10  vote_count         1117 non-null   int64
 11  vote_average       1117 non-null   float64
 12  budget             1117 non-null   float64
 13  revenue            1117 non-null   float64
 14  runtime            1117 non-null   int64
 15  status             1117 non-null   object
 16  adult              1117 non-null   bool
 17  backdrop_path      1117 non-null   object
 18  genre_names        1117 non-null   object
 19  collection         1117 non-null   float64
 20  collection_name    1117 non-null   object
dtypes: bool(1), float64(6), int64(3), object(11)
memory usage: 184.3+ KB

In [37]:
pd.get_dummies(df['status'])

       Released
0             1
6             1
9             1
11            1
22            1
...         ...
29749         1
29757         1
30513         1
32141         1
32142         1

[1117 rows x 1 columns]

In [38]:
from sklearn import preprocessing

In [40]:
from sklearn.preprocessing import MinMaxScaler

In [41]:
scaler=MinMaxScaler()

In [42]:
cols=['vote_count','vote_average']
df[cols]= scaler.fit_transform(df[cols])

/tmp/ipykernel_6331/773394655.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cols]=scaler.fit_transform(df[cols])

In [43]:
df[cols]

       vote_count  vote_average
0        0.053373      0.766667
6        0.007396      0.644444
9        0.061243      0.755556
11       0.009290      0.711111
22       0.114852      0.744444
...           ...           ...
29749    0.000000      0.000000
29757    0.000000      0.000000
30513    0.000000      0.000000
32141    0.000118      1.000000
32142    0.000118      1.000000

[1117 rows x 2 columns]